/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
:root {
}

/*************************************************
      RESET
   *************************************************/
ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

/************************************************
      UTILITIES
   ************************************************/
.d-contents {
  display: contents;
}

/* COMPONENTS */
/* _______________________________________________ */
/* btn 1 */

/*************************************************
    GENERAL STYLES
 *************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

/* MAIN */

/* FOOTER */

/*************************************************
    MEDIA RESPONSIVE
 *************************************************/
/* breakpoints Medium*/
@media (min-width: 768px) {
}
/* breakpoints Large*/
@media (min-width: 992px) {
}

/*************************************************
    DEBUG
 *************************************************/
.debug :is(header, main, footer) {
  border: 2px solid rgb(0, 250, 0);
}

.debug .container {
  border: 1px dashed rgba(250, 0, 0, 0.3);
}

.debug .row {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.debug [class^="col"] {
  background-color: #daa52062;
}
